<div class = "main_section">

  <h2>
    Corpus
  </h2>

  <p class="page_description">You can view all posted research articles here.</p>

  <section>
    <ul>
      <% corpusFeed.forEach((user) => { %>
      <li>
        <%= user.username %><br>
        <ol>
          <% user.posts.forEach((post) => { %>
          <li>
            <article><%= post.content %></article><br>
            <% if(user.username===username){ %>
              <button class="delete_button" type="button" value="<%= post.id %>">Delete</button>
            <% } %>
            <p>Likes: <%= post.likes %></p>
            <p>Dislikes: <%= post.dislikes %></p>
          </li>
          <% }); %>
        </ol>
      </li>
      <% }); %>
    <ul>
  </section>

</div>
