<div class = "main_section">

  <h2>
    Corpus
  </h2>

  <p class="page_description">You can view all posted research articles here.</p>

  <section>
    <ul>
      <% corpusFeed.forEach((user) => { %>
      <li>
        <%= user.username %><br>
        <ol>
          <% user.posts.forEach((post) => { %>
          <li>
            <article>
              <p><%= post.content %></p>
              <% if(user.username===username){ %>
                <button class="delete_button" type="button" value="<%= post.id %>">Delete</button>
              <% } else { %>
                <button class="submit_button" type="button" value="<%= post.id %>">Like</button>
                <button class="submit_button" type="button" value="<%= post.id %>">Dislike</button>
              <% } %>
              <p>Likes: <%= post.likeCount %></p>
              <p>Dislikes: <%= post.dislikeCount %></p>
            </article>
          </li>
          <% }); %>
        </ol>
      </li>
      <% }); %>
    <ul>
  </section>

</div>
