<div class = "main_section">

  <h2>
    My Profile
  </h2>

  <p class="page_description">You can view your registered information and a list of your posts here.</p>

  <h3>My Account Information</h3>

  <section>
    Name: <%= name %><br>
    Username: <%= username %><br>
    Affiliation: <%= affiliation %><br>
    Position: <%= position %><br>
    <button id="terminate" class="delete_button" type="button" value="<%= username %>">Terminate My Account</button>
  </section>

  <h3>My Posts</h3>

  <section>
    <ol>
      <% posts.forEach(post => { %>
      <li>
        <article>
          <p><%= post.content %></p>
          <button class="delete_button" type="button" value="<%= post.id %>">Delete</button>
          <p>Likes: <%= post.likeCount %></p>
          <p>Dislikes: <%= post.dislikeCount %></p>
        </article>
      </li>
      <% }); %>
    </ol>
  </section>

  <h3>Posts I liked</h3>

  <section>
    <ol>
      <% likedPosts.forEach(post => { %>
      <li>
        <article>
          <p><%= post.content %></p>
          <button class="submit_button like" type="button" value="<%= post.id %>">Like</button>
          <button class="submit_button dislike" type="button" value="<%= post.id %>">Dislike</button>
          <p>Likes: <span><%= post.likeCount %></span></p>
          <p>Dislikes: <span><%= post.dislikeCount %></span></p>
        </article>
      </li>
      <% }); %>
    </ol>
  </section>

  <h3>Posts I disliked</h3>

  <section>
    <ol>
      <% dislikedPosts.forEach(post => { %>
      <li>
        <article>
          <p><%= post.content %></p>
          <button class="submit_button like" type="button" value="<%= post.id %>">Like</button>
          <button class="submit_button dislike" type="button" value="<%= post.id %>">Dislike</button>
          <p>Likes: <span><%= post.likeCount %></span></p>
          <p>Dislikes: <span><%= post.dislikeCount %></span></p>
        </article>
      </li>
      <% }); %>
    </ol>
  </section>


</div>
