<div class = "main_section">

  <h2>
    My Profile
  </h2>

  <p class="page_description">You can view your registered information and a list of your posts here.</p>

  <h3>My Account Information</h3>

  <section>
    Name: <%= name %><br>
    Username: <%= username %><br>
    Affiliation: <%= affiliation %><br>
    Position: <%= position %><br>
  </section>

  <h3>My Posts</h3>

  <section>
    <ol>
      <% posts.forEach(post => { %>
      <li>
        <article><%= post.content %></article><br>
        Likes: <%= post.likes %><br>
        Dislikes: <%= post.dislikes %><br>
      </li>
      <% }); %>
    </ol>
  </section>


</div>
